@charset "UTF-8";

// Minimally Branded: compact brand bar and global footer.
.su-brand-bar--dark,
.su-global-footer--dark {
  height: 30px;
  padding: 0;
}

// Remove Stanford logo from the brand bar.
.su-brand-bar__container {
  display: none;
}
